<div class="category_top">
    <h1>Users</h1>
</div> 

<div class="paginate">
    <%= will_paginate %>
</div>

<div class= "row bottom">
    <% @users.each do |user| %>
        <div class="col-6">
            <div class="media mb-3">
                <%= gravatar_for(user) %>
                <div class="media-body">
                    <h5 class="pt-2 font-weight-bold"><%= link_to user.name, user %> </h5>
                </div>     
            </div>
        </div>
    <% end %>
</div>
