<!DOCTYPE html>
<html lang="en" class="home-bg">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<div class="home-layout">
    <p>E-learning</p>
    <%= link_to "Learn",signup_path,class: "btn btn-lg btn-outline-danger learn" %>
</div>

</html>