<h1 class="admintext">Administration</h1>
<div class="button">
    <div class="users_botton">
        <%= link_to "users",admin_users_path, class: "btn btn-outline-danger users_botton_margin" %>
        <h4>You can add or remove the administ-ration to users.</h4>
    </div>
    <div>
        <%= link_to "category",admin_category_path,class: "btn btn-outline-danger category_margin" %>
        <h4>You can change the categories, desc-riptions, words, answers and choices.</h4>
    </div>
</div>